@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.headerWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 1rem 0;
  background-color: #393e46;
  border-radius: 0.75rem;
  gap: 2rem;
  height: 75px;
  padding: 0.75rem 1rem;

  .logo {
    display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 720px) {
      flex: 1;
    }

    a {
      letter-spacing: 3px;
      color: #ffd369;
      font-size: 24px;
      font-weight: 900;
    }
  }
  .menu {
    display: none;

    @media screen and (min-width: 720px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      flex: 8;
    }

    .menuItem {
      a {
        color: #fff;
        padding: 0.75rem 0;
        position: relative;

        &:focus {
          outline: none;
        }
        &:global(.active) {
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 0.25rem;
            width: 100%;
            background-color: #fff;
            border-radius: 0.75rem;
          }
        }
      }
    }
  }
}
